/********* GLOBAL RULES ********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #F6F8F9;
}

button {
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
}

.color {
  display: inline-block;
  font-size: 10px;
  color: white;
  line-height: 20px;
  border-radius: 10px;
  padding: 3px 8px;
}

/********* HEADER ********/

header {
  height: 80px;
  background-color: white;
  padding: 10px 20px;
}

header .logo {
  width: 60px;
  vertical-align: middle;
}

header .logo-name {
  font-size: 40px;
  font-weight: bold;
  color: #000000;
  vertical-align: middle;
}

/********* MAIN ********/

.container {
  width: 70%;
  margin: 40px auto;
  background-color: white;
  border-radius: 5px;
}

/** parte superiore container **/

.container-top {
  padding: 20px 60px;
  border-bottom: 2px solid #F6F8F9;
}

.select {
  color: white;
  background-color: #44ADF1;
  border: 1px solid #44ADF1;
}

.no-select {
  color: lightgrey;
  background-color: white;
  border: 1px solid lightgrey;
}

/** parte inferiore container **/

.container-bottom {
  padding: 30px 60px;
}

h3 {
  font-size: 20px;
  margin-top: 10px;
}

.container-bottom li {
  list-style: none;
  font-size: 18px;
  padding-bottom: 15px;
}

.container-bottom li h3:before {
  content: "\25BE";
}

.second-list .checked {
  border: 1px solid lightgreen;
  color: lightgreen;
}

.second-list .checked::before {
  content: "\02713";
}

.second-list .erased {
  border: 1px solid red;
  color: red;
}

.second-list .erased::before {
  content: "\02715";}


/* color item */

.editorial {
  background-color: lightskyblue;
}

.goals {
  background-color: #9C72E4;
}

.recruiting {
  background-color: #64C0A9;
}

.mobile {
  background-color: #F29E33;
}

.website {
  background-color: #D763A1;
}

.sales {
  background-color: #B0C925;
}