* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F6F8F9;
}

.color {
  display: inline-block;
  font-size: 10px;
  line-height: 20px;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

/********* HEADER ********/

header {
  height: 100px;
  background-color: white;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

header .logo {
  width: 80px;
  vertical-align: middle;
}

header .logo-name {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  vertical-align: middle;
}

/********* MAIN ********/

.container {
  width: 70%;
  margin: 40px auto;
  background-color: white;
  border-radius: 5px;
}

/***parte superiore container**/

.container-top, .container-bottom {
  padding-left: 40px;
}

.container-top {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #F6F8F9;
}

button {
  border-radius: 4px;
  padding: 5px;
}

.select {
  color: white;
  background-color: #44ADF1;
  border: none;
}

.no-select {
  color: lightgrey;
  background-color: white;
  border: 1px solid lightgrey;
}

/***parte superiore container**/

section {
  padding-top: 20px;
  padding-bottom: 20px;

}

.icon-down::before {
  content: "\25BE";
}

.subtitles {
  font-size: 20px;
  font-weight: bold;
}

.item {
  line-height: 40px;
}

.tick-icon::after {
  content: "\2705";
}

.ballot-box::after {
  content: "\274C";
}


/*color item*/

.editorial {
  background-color: lightskyblue;
}

.goals {
  background-color: #9C72E4;
}

.recruiting {
  background-color: #64C0A9;
}

.mobile {
  background-color: #F29E33;
}

.website {
  background-color: #D763A1;
}

.sales {
  background-color: #B0C925;
}